# MacOS
/**/.DS_Store

# Development
/.vscode
/.idea

# Dependencies
/yarn-error.log
/node_modules

# Enviroment
/.env

# Test
/storageLayout
/typechain-types
/coverage
/coverage.json

# Production
/artifacts
/cache

